body{
    font-family:'Press Start 2P', serif;    
    background: rgb(224, 86, 86);
    
    height: 100vh;

    margin-top: 0px;
    padding-top: 0px;

    overflow:hidden;
}

.d-flex{
    display: flex;
}

.d-inline-block{
    display: inline-block !important;
}

#contentFlexWrapper{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#machineBoundary{
    flex-direction: column;
    align-items: center;

    flex-shrink: 0;

    width: 80vw;
    max-width: calc(80vh*1.333);
    height: calc(80vw*0.75);
    max-height: 80vh;

    background-color: brown;
}

#banner{
    max-width: 90%;
    width: auto;
    height: auto;
}

#slotPaddingWrapper{
    height: 90%;
    width: 90%;

    flex-direction: column;
    align-items: center;
}

#slotArea{
    background-color: grey;
    height: 65%;
    width: 100%;
    margin-bottom: 5%;
}

#controlPanel{
    /*background-color: aqua;*/
    height: 20%;
    width: 100%;

    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

#amountWrapper{
    max-height: 100%;
    
    width: 50%;

    flex-direction: row;
    align-items: center;
}

#amountIndicatorWrapper{
    width:60%;
}

#amountIndicator p{
    margin-top: 0px;
}

.h-100{
    height: 100% !important;
}

.w-100{
    width: 100% !important;
}

.w-45{
    width: 45% !important;
}

.controlPanelHeightAdjust{
    height: calc(100% - 40px);
}


.pl-5px{
    padding-left: 5px;
}

.controlPanelHeightAdjust p{
    overflow: hidden;
    line-height: 100%;
}

#spinButtonWrapper{
    width: 20%;
}

#minusButtonWrapper, #plusButtonWrapper{
    width: 20%;
}

.p-0{
    padding: 0;
}

.m-0{
    margin: 0;
}