@page
@model wujasanator.Pages.Slots.WujasanatorModel
@{
    ViewData["Title"] = "Wujasanator 3000";
}

<link rel="stylesheet" href="~/css/pixelButtons.css">
<link rel="stylesheet" href="~/css/wujasanatorStyles.css">
<body>
        <div id="contentFlexWrapper" class="d-flex h-100">
            <div id="machineBoundary" class="d-flex">
                <img src="~/assets/banner.png" id="banner"/>
                <div id="slotPaddingWrapper" class="d-flex">
                    <div id="slotArea">
                        <div id="reelContainer" class="row h-100 w-100">
                            <div class="reel col h-100">
                                <div id="tile00" class="tile"><img src="/assets/symbols/apple.svg" class="h-100 w-100"/></div>
                                <div id="tile01" class="tile"><img src="/assets/symbols/apple.svg" class="h-100 w-100"/></div>
                                <div id="tile02" class="tile"><img src="/assets/symbols/apple.svg" class="h-100 w-100"/></div>
                            </div>
                            <div class="reel col h-100">
                                <div id="tile10" class="tile"><img src="/assets/symbols/apple.svg" class="h-100 w-100"/></div>
                                <div id="tile11" class="tile"><img src="/assets/symbols/apple.svg" class="h-100 w-100"/></div>
                                <div id="tile12" class="tile"><img class="h-100"/></div>
                            </div>
                            <div class="reel col h-100">
                                <div id="tile20" class="tile"><img class="h-100"/></div>
                                <div id="tile21" class="tile"><img class="h-100"/></div>
                                <div id="tile22" class="tile"><img class="h-100"/></div>
                            </div>
                            <div class="reel col h-100">
                                <div id="tile30" class="tile"><img class="h-100"/></div>
                                <div id="tile31" class="tile"><img class="h-100"/></div>
                                <div id="tile32" class="tile"><img class="h-100"/></div>
                            </div>
                            <div class="reel col h-100">
                                <div id="tile40" class="tile"><img class="h-100"/></div>
                                <div id="tile41" class="tile"><img class="h-100"/></div>
                                <div id="tile42" class="tile"><img class="h-100"/></div>
                            </div>
                        </div>
                    </div>
                    <div id="controlPanel" class="d-flex">                        
                        <div id="amountWrapper" class="h-100 d-flex">
                            <div id="minusButtonWrapper" class="h-100">
                                <div class="pixel2 pixel-button controlPanelHeightAdjust" onclick="decreaseBet()">
                                    <p id="minusButtonText" class="h-100 m-0">-</p>
                                </div>
                            </div>

                            <div id="amountIndicatorWrapper" class="pl-5px h-100">
                                <div id="amountIndicator" class="pixel2 controlPanelHeightAdjust" >
                                    <p id="amountIndicatorDesc" class="w-100">Kręcisz za:</p>
                                    <div class="d-flex">
                                        <p id="amountIndicatorValue" class="d-inline-block w-100">1</p>
                                        <p class="d-inline-block w-100">PLN</p>
                                    </div>
                                </div>
                            </div>

                            <div id="plusButtonWrapper" class="pl-5px h-100">
                                <div class="pixel2 pixel-button controlPanelHeightAdjust" onclick="increaseBet()">
                                    <p id="plusButtonText" class="h-100 m-0">+</p>
                                </div>
                            </div>
                        </div>
                        <div id="spinButtonWrapper" class="h-100">
                            @*<form method="post" asp-page-handler="spin">*@
                                @Html.AntiForgeryToken()
                            <button id="spinButton" class="pixel2 pixel-button controlPanelHeightAdjust">
                                <p id="spinButtonText" class="w-100">Zakręć!</p>
                            </button>
                            @*</form>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

@section Scripts{
    <script src="~/js/jquery.fittext.js"></script>
    <script src="~/js/index.js"></script>
    <script src="~/js/wujasanator.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>  
}